@font-face {
    font-family: skoda-pro;
    src: url(skoda-pro.ttf);
}
html{
    width: 1440px;
    height: 960px;
    margin: 0;
}
body{
    font-family: skoda-pro !important;
}
.container-skoda{
    width: 1440px;
    height: 960px;
    background-color: white;
    margin: 0;
}
.slide{
    width: 100%;
    height: 100%;
}
.play{
    display: none;
}
.btn-skoda{
    background-color: #4ba82e;
    color: white;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 40%;
}
.question-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
#img1{background-image: url('images/front.jpg');}
#img2{background-image: url('images/top.png');}
#img3{background-image: url('images/back.jpg');}
#img4{background-image: url('images/top.png');}

.zone-container{
    position: absolute;
    width: 1280px;
    margin-top: 128px;
    margin-left: 80px;
    height: 512px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#img2 .zone-container{
    width: 456px;
    margin-top: 240px;
    margin-left: 336px;
    height: 488px;
    flex-direction: row;
}
#img2 .zone{
    height: 100%;
    width: 18%;
}
#img4 .zone-container{
    width: 456px;
    margin-top: 240px;
    margin-left: 730px;
    height: 488px;
    flex-direction: row;
}
#img4 .zone{
    height: 100%;
    width: 18%;
}
.zone{
    height: 18%;
    width: 100%;
    background-color: rgba(75,168,46,.7);
    border: solid #4ba82e 2px;
}

.slider{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 100%;
}

.slider h1{
    text-align: center;
    margin-bottom: 20px;
}
input[type='text']{
    text-align: center;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: rgb(240, 240, 240);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 auto;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: #4ba82e;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4ba82e;
    cursor: pointer;
}
.scale{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    font-size: 20px;
    padding: 10px 12px;
}
.scale small{
    min-width: 16px;
    text-align: center;
    font-weight: 800;
    color: rgb(133,133,133);
}

.slider button{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}